@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron masthead">
    <h1>ENode</h1>
    <p class="lead">.NET平台的DDD、CQRS、ES应用开发框架，开发高并发、高吞吐、可伸缩、可扩展的应用程序。</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row container" style="width:100%">
    <div class="col-md-4">
        <div class="thumbnail">
            <h2>快速入门</h2>
            <p>
                通过一个入门示例，快速了解如何使用ENode框架开发基于DDD+CQRS架构的Web应用程序。
            </p>
            <p><a class="btn btn-success hidden-phone hidden-tablet" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <h2>下载源码</h2>
            <p>源代码宿主在GitHub站点，完全开源，C#编写。您可以获取包括ENode, EQueue，以及ECommon的所有源代码。</p>
            <p><a class="btn btn-success hidden-phone hidden-tablet" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <h2>Nuget安装</h2>
            <p>您可以在Visual Studio中安装ENode的程序集，搜索ENode即可。</p>
            <p><a class="btn btn-success hidden-phone hidden-tablet" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>